<% layout('layouts/boilerplate') %>
<h1>All journals!</h1>
<div>
  <a href="/journals/new">Add Journal</a>
</div>
<ul>
  <% for (let journal of journals) {%>
  <li><a href="/journals/<%=journal._id %> "><%= journal.title %></a></li>
  <% }%>
</ul>
